* {
  box-sizing: border-box;
}
html,
body {
  font-family: "Open Sans";
  font-size: 18px;
  margin: 40px 0 54px;
}
.container {
  width: 83%;
  margin: 0 auto;
}

form {
  display: block;
}
h1 {
  color: #bc436a;

  font-size: 1rem;
  font-weight: 700;
}

/* header-container */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-header {
  display: flex;
  gap: 48px;
}
.button-nav-header {
  background-color: transparent;
  border: none;
  display: block;
  cursor: pointer;
  color: #776677;
  font-size: 1rem;
  font-weight: 400;
}
.button-nav-header:hover {
  color: #ffff;
  background-color: #386e41;
  border-radius: 4px;
}
a {
  text-decoration: none;
  color: #776677;
  font-size: 0.8rem;
  font-weight: 400;
}
a:hover {
  color: #bc436a;
  font-weight: 800;
}
/* main */
.sss {
  background-image: url("../img/img-main.png");
  background-repeat: no-repeat;
  background-position: top right -100px;
}
h2 {
  font-size: 2rem;
  font-weight: 800;
}
.best-main {
  color: #bc436a;
}
.vacation-main {
  color: #bc436a;
}
.description-main {
  color: #7a7a7a;
  font-size: 1rem;
  font-weight: 400;
  padding: 23px 0 230px 0;
}
.text-container {
  width: 44%;
  padding-top: 198px;
}

.place-travel {
  color: #767676;
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 33px;
}
.search-container {
  display: flex;
  align-items: center;
  padding: 34px 38px 41px;
  background-color: #386e41;
  justify-content: space-between;
  border-radius: 6px;
}
.search {
  display: flex;
  justify-content: space-between;
}
input {
  border: none;
  border-bottom: 2px solid #ffffff;
  background-color: transparent;
  margin-right: 75px;
}
input::placeholder {
  color: #ffffff;
}
.clik-destinations {
  padding: 72px 0 14px 0;
  text-align: center;
}
.search-button-main {
  cursor: pointer;
  padding: 8px 21px;
  border-radius: 4px;
  background-color: #bc436a;
  color: #ffffff;
  border: none;
}
.fa-chevron-right {
  color: #767676;
}
.fa-circle-chevron-down {
  text-align: center;
}
.text-container-place-travel {
  display: flex;

  gap: 33px;
}
.container-destinations {
  display: flex;
  justify-content: center;
}
.chevron-container {
  position: relative;
}
.chevron-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 90px;
  color: #ffffff;
}
.button-footer {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 25px;
}
@media (max-width: 1080px) {
  .nav-header {
    flex-wrap: wrap;
  }
  a {
    font-size: 2rem;
  }
  .button-nav-header {
    font-size: 2rem;
  }
  h2 {
    font-size: 2rem;
    width: 100%;
  }
  .description-main {
    font-size: 1.5rem;
    color: black;
    width: 100%;
  }
  .search-container {
    flex-direction: column;
  }
  .search {
    margin-bottom: 2rem;
    flex-wrap: wrap;
  }
  input {
    margin-right: 75px;
    margin-bottom: 2rem;
  }
  .sss {
    background-position: top right -210px;
    background-size: cover;
  }
  .place-travel {
    color: white;
    font-size: 2rem;
  }
}
@media (max-width: 400px) {
  .text-container {
    width: 60%;
    padding-top: 198px;
    margin: 0 auto;
  }
  h2 {
    font-size: 2rem;
    font-weight: 800;
  }
  .description-main {
    font-size: 2rem;
    color: white;
    width: 100%;
  }
  .place-travel {
    color: #ffffff;
    font-size: 2rem;
  }
}
@media (max-width: 600px) {
  .description-main {
    font-size: 1.5rem;
    color: white;
    width: 100%;
  }
}
