@import url("./reset.css");
:root {
  --main-color: #31261a;
  --secondari-color: #faf4ea;
  --hover-color: #819b57;
  --base-font-size: 18px;
  --main-font-famili: "Poppins";
  --secondari-font-famili: "Gill Sans";
  --button-bcg: #819b57;
}

* {
  box-sizing: border-box;
}
html,
body {
  font-family: "Poppins";
  background-color: var(--secondari-color);
}
article {
  width: 350px;
  min-height: 444px;
  border-radius: 16px;
  padding: 250px 24px 0;
}
h2 {
  font-family: var(--main-font-famili);
  font-size: 4rem;
  font-weight: 900;
}
span {
  color: var(--hover-color);
}
button {
  cursor: pointer;
  padding: 16px 32px;
  background-color: var(--button-bcg);
  color: #faf4ea;
  border-radius: 6px;
  border: none;
}
.container {
  width: 87%;
  margin: 0 auto;
}
// headers
.logo-button {
  cursor: pointer;
  color: var(--secondari-color);
  background-color: transparent;
  border: none;
  font-size: 1.4rem;
  font-weight: 700;

  text-transform: uppercase;
}
.secondari-word-logo {
  font-weight: 700;
}
a {
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: none;
  color: var(--secondari-color);
  &:hover {
    color: var(--hover-color);
  }
}
.header-section-bg {
  background-image: url("../img/img-bg-header.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  gap: 64px;
}
.name-bakery {
  padding: 197px 0 272px 0;
  color: var(--secondari-color);
  font-family: var(--secondari-font-famili);
  font-size: 8rem;
  font-weight: 900;
  text-align: center;
}
.secondari-word-name-bakery {
  @extend .name-bakery;
  color: var(--hover-color);
}
// main
.advantages-text-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 100px;

  color: var(--secondari-color);
  font-family: var(--main-font-famili);
  font-size: 1.2rem;
  font-weight: 300;
}
.advantages-section {
  background-color: var(--hover-color);
}
//  A new format of traditions
.title-section {
  color: var(--main-color);
  font-family: var(--main-font-famili);
  font-size: 4rem;
  font-weight: 900;
}
.description-bakery {
  font-family: var(--main-font-famili);
  font-size: 1rem;
  font-weight: 400;
}
.description-work-bakery {
  @extend .description-bakery;
}
.green-words-format_tradition {
  color: var(--hover-color);
}
.uppercasse {
  text-transform: uppercase;
}
.text-content-new-format-traditions {
  width: 49%;
}
.icon-contaoner-format_tradition {
  overflow: hidden;
  width: 393px;
  height: 466px;
}
.icon-contaoner-format_tradition img {
  width: 100%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  min-height: 70vh;
}
.new-format-traditions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// chefs
.title-section-chefs {
  margin: 0 auto;
  width: 32vw;
}
.title-section-chefs h2 {
  text-align: center;
}
.info-chefs {
  width: 42%;
  display: flex;
}
.icon-chefs {
  width: 268px;
  min-height: 100vh;
  margin-right: 20px;
}
.icon-chefs img {
  width: 100%;
  border: 1px solid #a28268;
  border-radius: 4px 4px 4px 200px;
}
.info-chefs h3 {
  color: var(--main-color);
  font-family: var(--main-font-famili);
  font-size: 2.2rem;
  font-weight: 600;
}
.info-chefs-vlad {
  display: flex;
  width: 42%;
}
.icon-chef-vlad {
  margin-right: 20px;
  width: 600px;
  h3 {
    color: var(--main-color);
    font-family: var(--main-font-famili);
    font-size: 2.2rem;
    font-weight: 600;
  }
}
.icon-chef-vlad img {
  width: 100%;
  min-height: 74vh;
  border: 1px solid #a28268;
  border-radius: 4px 4px 4px 200px;
}

.description-chefs-skils {
  color: var(--main-color);
  font-family: var(--main-font-famili);
  font-size: 1rem;
  font-weight: 400;
}
.content-chefs {
  display: flex;
  justify-content: space-between;
}
// format
.format-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.format-container p {
  color: var(--secondari-color);
  font-family: var(--main-font-famili);
  font-size: 1rem;
  font-weight: 300;
}
.puri-left {
  background-image: url("../img/puri-left.png");
  h4 {
    color: var(--secondari-color);
    font-family: var(--main-font-famili);
    font-size: 1.6rem;
    font-weight: 600;

    padding-bottom: 16px;
  }
  p {
    padding-bottom: 10px;
  }
}
.puri-centr {
  background-image: url("../img/puri-centr.png");
  background-repeat: no-repeat;
  h4 {
    color: var(--secondari-color);
    font-family: var(--main-font-famili);
    font-size: 1.6rem;
    font-weight: 600;
    padding-bottom: 16px;
  }
  p {
    padding-bottom: 10px;
  }
}
.puri-right {
  background-image: url("../img/puri-right.png");
  h4 {
    color: var(--secondari-color);
    font-family: var(--main-font-famili);
    font-size: 1.6rem;
    font-weight: 600;
    padding-bottom: 16px;
  }
  p {
    padding-bottom: 10px;
  }
}
// Join-chain-bakeries-container
.Join-chain-bakerie-container {
  display: flex;
  justify-content: space-between;
}
.title-section-join {
  font-family: var(--main-font-famili);
  font-size: 4rem;
  font-weight: 900;
  width: 42%;
}
.tell-my {
  color: #465929;
  font-family: var(--main-font-famili);
  font-size: 1rem;
  font-weight: 400;
  padding: 16px 0 42px 0;
}
.form-container {
  input {
    width: 605px;
    padding: 16px 42px;
    display: block;
    background-color: transparent;
    margin-bottom: 24px;
    border-radius: 8px;
  }
}
.button-foin {
  display: flex;
  justify-content: center;
}
.privacy-policy {
  text-align: center;
  width: 40%;
  margin: 0 auto;
  color: var(--main-color);
  font-family: var(--main-font-famili);
  font-size: 12px;
  font-weight: 400;
  padding-top: 16px;
}
.map-brakerie {
  width: 42%;
}
// footer
.sss {
  background-color: #31261a;
}
.nav-footer {
  padding: 30px 0 24px 0;
  display: flex;
  justify-content: space-between;

  a {
    display: block;
  }
}
.nav-pages {
  a {
    padding-bottom: 16px;
    &:last-child {
      padding-bottom: 0;
    }
  }
}
.contacts-bakery {
  a {
    padding-bottom: 16px;
    &:last-child {
      padding-bottom: 0;
    }
  }
}
