@import url("./reset.css");
:root {
  --main-color: #31261a;
  --secondari-color: #faf4ea;
  --hover-color: #819b57;
  --base-font-size: 18px;
  --main-font-famili: "Poppins";
  --secondari-font-famili: "Gill Sans";
  --button-bcg: #819b57;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: "Poppins";
  background-color: var(--secondari-color);
}
button {
  cursor: pointer;
  padding: 16px 32px;
  background-color: var(--button-bcg);
  color: #faf4ea;
  border-radius: 6px;
  border: none;
}
.container {
  width: 87%;
  margin: 0 auto;
}
// headers
.logo-button {
  cursor: pointer;
  color: var(--secondari-color);
  background-color: transparent;
  border: none;
  font-size: 1.4rem;
  font-weight: 700;

  text-transform: uppercase;
}
.secondari-word-logo {
  font-weight: 700;
}
a {
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--secondari-color);
  &:hover {
    color: var(--hover-color);
  }
}
.bcg {
  background-image: url("../img/img-bg-header.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  gap: 64px;
}
.name-bakery {
  padding: 197px 0 272px 0;
  color: var(--secondari-color);
  font-family: var(--secondari-font-famili);
  font-size: 8rem;
  font-weight: 900;
  text-align: center;
}
.secondari-word-name-bakery {
  @extend .name-bakery;
  color: var(--hover-color);
}
// main
.advantages-text-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 100px;

  color: var(--secondari-color);
  font-family: var(--main-font-familis);
  font-size: 1.2rem;
  font-weight: 300;
}
.advantages-section {
  background-color: var(--hover-color);
}
