@import url(./reset.css);
* {
  box-sizing: border-box;
}
body {
  max-width: 1728px;
  background-image: url("../image/Rectangle\ 1\ \(1\).jpg");
  background-size: cover;
  font-family: "Inter";
  padding: 43px 33px 50px 0;
}
.container {
  max-width: 1656px;
  margin: 0 auto;
}
/* header */
.header-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-content {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
}
a {
  text-decoration: none;
}
.partition-header::after {
  position: absolute;
  top: 12px;
  content: "";
  display: inline-block;
  width: 3px;
  height: 28px;
  background-color: #ffffff;
  border: 3px;
  margin-left: 56px;
}
.partition::after {
  position: absolute;
  left: 120px;
  content: "";
  display: inline-block;
  width: 3px;
  height: 28px;
  background-color: #ffffff;
  border: 3px;
}
.partition-last::after {
  position: absolute;
  left: 256px;
  content: "";
  display: inline-block;
  width: 3px;
  height: 28px;
  background-color: #ffffff;
  border: 3px;
}
h4 {
  font-size: 30px;
  font-weight: 500;
  color: #c8c8c8;
  margin: 0;
  padding-left: 90px;
}
input {
  font-size: 22px;
  font-weight: 800;
  background-image: url("../image/fe_search\ \(1\).svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 30px 30px;
  border: none;
  border-radius: 6px;
  height: 30px;
}

.icon-accaunt {
  width: 74px;
  height: 74px;
  overflow: hidden;
}
/* Main */
.genre {
  padding-top: 115px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 36px;
}
h3 {
  font-size: 32px;
  font-weight: 500;
  padding-right: 18px;
  color: #ffffff;
}
h1 {
  padding-top: 26px;
  font-family: Inter;
  font-size: 64px;
  font-weight: 800;
  line-height: 77.45px;
  letter-spacing: 0.055em;

  color: #ffffff;
}
.setting-series {
  padding-top: 17px;
  display: flex;
}
h5 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
  padding-right: 47px;
}
h5 span {
  font-size: 29px;
  font-weight: 400;
  color: #c8c8c8;
}
.description-serial {
  padding-top: 8px;
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: 400;
  color: #a7a6a6;
  max-width: 864px;
}
.fa-solid {
  color: yellow;
  margin-right: 6px;
}
.fa-regular {
  color: #ffffff;
  margin-right: 6px;
}
.fa-regular:last-child {
  margin-right: 0;
}
.button-watching-series {
  padding-top: 53px;
  padding-bottom: 54px;
}

.button-stream {
  background-image: url("../image/icon-play-stream.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center right 34px;
  border: 2px solid #ffffff;
  width: 275px;
  padding: 16px 54px 16px 34px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
  margin-right: 82px;
  cursor: pointer;
}
.button-stream:hover {
  background-color: #d40d1f;
  border: none;
}
.all-episodes {
  cursor: pointer;
  width: 271px;
  border-radius: 10px;

  padding: 16px 30px 16px 30px;
  background-color: transparent;
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
  border: 2px solid #ffffff;
}
.all-episodes:hover {
  background-color: #d40d1f;
  border: none;
}
.popular-this-week {
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  position: relative;
  max-width: 955px;
}
.popular-week {
  font-family: Inter;
  font-size: 22px;
  font-weight: 800;
}
.carusel-button-left {
  cursor: pointer;
  position: absolute;
  right: 0;
  width: 41px;
  height: 41px;
  border: 2px solid #a7a6a6;
  border-radius: 100%;
  background-color: transparent;
}
.carusel-button-left:hover {
  border: 2px solid #ffffff;
}
.fa-angle-left:hover {
  color: #ffffff;
}
.fa-angle-left {
  transform: rotate(180deg);
  text-align: center;
  color: #a7a6a6;
  font-size: 27px;
}

.carusel-button-right {
  cursor: pointer;
  position: absolute;
  right: 24px;
  margin-right: 40px;
  width: 41px;
  height: 41px;
  border: 2px solid #a7a6a6;
  border-radius: 100%;
  background-color: transparent;
}
.carusel-button-right:hover {
  border: 2px solid #ffffff;
}
.fa-angle-right:hover {
  color: #ffffff;
}
.fa-angle-right {
  transform: rotate(180deg);
  text-align: center;
  color: #a7a6a6;
  font-size: 27px;
}

article {
  width: 151px;
  height: 210px;
  border: 1px solid #ffffff;
}
article:last-child {
  border: none;
}
.suggested-movies {
  display: flex;
  align-items: center;
  gap: 50px;
}
.sss {
  display: flex;
  position: absolute;
  right: 0;
}

.sss::after {
  position: sticky;
  display: inline-block;
  content: "16+";
  width: 174px;
  height: 66px;
  background-color: #a7a6a6;
}
.sss::before {
  position: sticky;
  display: inline-block;
  content: "1";
  width: 33px;
  height: 66px;
  background-color: #d40d1f;
  color: #d40d1f;
}
