@import url("./reset.css");
:root {
  --main-font-famili: "Inter";
  --secondary-color: #a7a6a6;
  --advanse-color: #ffffff;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-size: 24px;
  background-image: url("../img/bg-page.jpeg");

  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  color: var(--advanse-color);
  font-family: var(--main-font-famili);
  font-size: 2.6rem;
  font-weight: 800;
  padding: 20px 0;
}

.container {
  width: 96%;
  margin: 0 auto;
}
// header
.header-container {
  padding: 42px 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    margin-left: 82px;
    border-left: 3px solid white;
    color: #c8c8c8;
    font-family: var(--main-font-famili);
    font-size: 1rem;
    font-weight: 500;
  }
  input {
    background-color: transparent;
    color: var(--advanse-color);
    &::placeholder {
      visibility: hidden;
    }
    border: none;
    background-image: url("../img/fe_search\ \(1\).svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 22px;
    margin-right: 50px;
  }
  button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    border-radius: 100%;
    padding: 3px;
    width: 80px;
    height: 80px;
  }
}
.logo-container {
  align-items: center;
  display: flex;
}
.user-container {
  display: flex;
  align-items: center;
}
// main
.categories {
  display: flex;
  a {
    text-decoration: none;
    border-right: 3px solid white;
    &:last-child {
      border: none;
    }
  }
  h3 {
    margin-right: 50px;

    color: var(--advanse-color);
    font-family: var(--main-font-famili);
    font-size: 1.2rem;
    font-weight: 400;
    &:hover {
      color: red;
    }
    &:last-child {
      border-right: none;
    }
  }
}

.description-container {
  div {
    p {
      border-right: 3px solid white;
      margin-right: 50px;
    }
  }
  p {
    color: var(--advanse-color);
    font-family: var(--main-font-famili);
    font-size: 24px;
    font-weight: 400;
    &:last-child {
      border: none;
    }
  }

  span {
    font-family: var(--main-font-famili);
    font-size: 1.3rem;
    font-weight: 400;
    color: #a7a6a6;
  }
}
.description-serial-episodes {
  display: flex;
  align-items: center;
}
.description-plot p {
  width: 53%;
  color: var(--secondary-color);
  padding: 10px 0 30px;
}
.fa-star {
  &:nth-child(-n + 3) {
    color: #ffea2b;
  }
}
.button-playr {
  position: relative;
  padding: 57px 0 70px;
  display: flex;
  button {
    cursor: pointer;

    border: 3px solid var(--advanse-color);
    border-radius: 10px;
    background-color: transparent;
    color: var(--advanse-color);
    font-family: var(--main-font-famili);
    font-size: 1rem;
    font-weight: 500;
    margin-right: 90px;
    &:hover {
      background-color: #d50d1f;
      border: 3px solid #d50d1f;
    }
    &:nth-child(2) {
      padding: 16px 58px 16px;
    }
  }
  button:first-child {
    padding: 16px 54px 16px 34px;
    background-image: url("../img/ant-design_play-circle-filled.png");
    background-repeat: no-repeat;
    background-position: center right 20px;
  }
}
.popular-contaoner {
  padding-bottom: 50px;
  width: 57%;
}
.popular-week {
  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;
  }
  p {
    &::after {
      width: 20px;
      height: 20px;
      background-color: #d50d1f;
    }
  }
}
.popular-title {
  display: flex;
  justify-content: space-between;
  h4 {
    padding-bottom: 32px;
    color: var(--advanse-color);
    font-family: var(--main-font-famili);
    font-size: 1rem;
    font-weight: 800;
  }
  button {
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 100%;
    background-color: transparent;
    border: 2px solid var(--advanse-color);
    &:hover {
      border: 2px solid #d50d1f;
    }
    &:first-child {
      margin-right: 30px;
    }
  }
  i {
    color: var(--advanse-color);
    transform: rotate(90deg);
    &:hover {
      color: #d50d1f;
    }
  }
}
.left-chevron {
  transform: rotate(182deg);
}
.age-restrictions-container {
  display: flex;

  position: absolute;
  right: -57px;
  bottom: -220px;
  p {
    &:first-child {
      width: 33px;
      height: 66px;
      background-color: #d50d1f;
    }
    &:last-child {
      padding: 20px 33px;
      text-align: center;
      color: var(--advanse-color);
      font-family: var(--main-font-famili);
      font-size: 1rem;
      font-weight: 500;

      width: 141px;
      height: 66px;
      background-color: #a7a6a6;
    }
  }
}
