@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
  box-sizing: border-box;
}
:root {
  --advanse-color: #48555b;
  --secondari-color: #ffffff;
  --font-famili: "Nunito Sans", serif;
  --hover-color: #00a4e5;
}
html,
body {
  font-size: 14px;
}
.container {
  width: 63%;
  margin: 0 auto;
}
// header
.bg-section {
  background-image: url("../bg-img/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header-content {
  p {
    color: var(--secondari-color);
    font-size: 1rem;
    font-weight: 400;
    width: 12%;
    margin: 0 auto;
    padding-bottom: 75px;
  }
  div {
    &:nth-child(1) {
      display: flex;
      align-items: center;
      width: 17%;
      margin: 0 auto;
      padding-top: 50px;
    }
    i {
      transform: rotate(270deg);
      font-size: 26px;
      color: var(--hover-color);
    }
    h2 {
      font-family: var(--font-famili);
      color: var(--secondari-color);
      font-family: OpenSans;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: -3px;
    }
  }
  h1 {
    color: var(--secondari-color);
    font-family: var(--font-famili);
    letter-spacing: 5.71px;
    font-size: 3.5rem;
    font-weight: 400;
  }

  div {
    &:nth-child(2) {
      width: 84%;
      margin: 0 auto;
      padding: 318px 0 242px 0;
    }
    p {
      color: var(--secondari-color);
      width: 56%;
      margin: 0 auto;
      font-size: 1.4rem;
      font-weight: 400;
    }
  }
}
.navigation {
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e7e7;
}
nav {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  div {
    &:nth-child(1) {
      display: flex;
    }
    i {
      transform: rotate(270deg);
      font-size: 26px;
      color: var(--hover-color);
    }
    h2 {
      font-family: var(--font-famili);
      color: var(--advanse-color);
      font-family: OpenSans;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: -3px;
    }
  }
  div {
    &:nth-child(2) {
      a {
        font-size: 1rem;
        font-weight: 400;
        text-decoration: none;
        color: var(--advanse-color);
        margin-right: 48px;
        &:hover {
          color: var(--hover-color);
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
// OUR STORY
.out-story {
  h2 {
    padding: 57px 0 92px;
    color: var(--advanse-color);
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 2.31px;
    text-align: center;
  }
  p {
    color: var(--advanse-color);
    font-size: 1.2rem;
    font-weight: 700;
    padding-left: 5px;
  }
}
.our-story-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 120px);
  grid-gap: 20px;
  div {
    &:nth-child(1) {
      grid-column: 1 / 3;
      p {
        color: var(--advanse-color);
        font-size: 1.2rem;
        font-weight: 700;
        width: 81%;
        padding: 5px;
      }
    }
    &:nth-child(2) {
      padding: 5px;
      grid-column: 1 / 3;
      p {
        color: var(--advanse-color);
        font-size: 1rem;
        font-weight: 400;
        line-height: 23px;
      }
    }
    &:nth-child(3) {
      p {
        color: var(--secondari-color);
        color: var(--secondari-color);
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 29px;
      }
      padding-top: 24px;
      text-align: center;
      background-image: url("../bg-img/plan.svg");
      background-repeat: no-repeat;
      background-position: right top;
      grid-column: 3 / 3;
      grid-row: 1 / -1;
    }
    &:nth-child(4) {
      p {
        color: var(--secondari-color);
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 29px;
      }
      padding-top: 24px;
      background-image: url("../bg-img/mananger.svg");
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      grid-column: 4 / 4;
      grid-row: 1 / -1;
    }
    &:nth-child(5) {
      p {
        color: var(--secondari-color);
        color: var(--secondari-color);
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 29px;
      }
      padding-top: 24px;
      text-align: center;
      background-image: url("../bg-img/build.svg");
      background-repeat: no-repeat;
      background-size: cover;
      grid-column: 5 / 5;
      grid-row: 1 / -1;
    }
  }
}
//  OUR CAPABILITIES
.our-capabilities-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 15px;
  div {
    &:nth-child(1) {
      align-self: center;
      h2 {
        color: var(--advanse-color);
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 2.31px;

        span {
          border-bottom: 2px solid var(--hover-color);
          padding-bottom: 5px;
        }
      }
    }
    &:nth-child(2) {
      align-self: center;
      p {
        color: var(--advanse-color);
        font-family: OpenSans;
        font-size: 1rem;
        font-weight: 400;
        line-height: 19px;
      }
    }
    &:nth-child(3) {
      position: relative;
      align-self: center;
      button {
        color: var(--advanse-color);
        position: absolute;
        right: 0;
        font-size: 1rem;
        font-weight: 700;
        cursor: pointer;
        background-color: transparent;
        padding: 11px 60px;
        &:hover {
          color: var(--secondari-color);
          background-color: var(--hover-color);
        }
      }
    }
    &:nth-child(4) {
      padding: 38px 0 38px 24px;
      border: 1px solid #e6e6e6;
      h3 {
        color: var(--advanse-color);
        font-size: 1rem;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.43px;
      }
      p {
        color: var(--advanse-color);
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0.19px;
      }
    }
    &:nth-child(5) {
      padding: 38px 0 38px 24px;
      border: 1px solid #e6e6e6;
      h3 {
        color: var(--advanse-color);
        font-size: 1rem;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.43px;
      }
      p {
        color: var(--advanse-color);
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0.19px;
      }
    }
    &:nth-child(6) {
      padding: 38px 0 38px 24px;
      border: 1px solid #e6e6e6;
      h3 {
        color: var(--advanse-color);
        font-size: 1rem;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.43px;
      }
      p {
        color: var(--advanse-color);
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0.19px;
      }
    }
  }
}
// wont-build
.wont-build {
  background-image: url("../bg-img/bg\ \(1\).jpeg");
  padding: 120px 0 35px;
  background-repeat: no-repeat;
  background-size: cover;

  div {
    &:nth-child(1) {
      width: 40%;
      margin: 0 auto;
    }
  }
  h2 {
    color: var(--advanse-color);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.15px;
    text-align: center;
  }
}
.button-wont-build {
  display: flex;
  justify-content: center;
  padding: 35px 0 232px;
  button {
    border-radius: 6px;
    cursor: pointer;
    color: var(--advanse-color);
    font-size: 1rem;
    font-weight: 700;
    background-color: transparent;
    padding: 11px 26px;
    &:hover {
      color: var(--secondari-color);
      background-color: var(--hover-color);
    }
  }
}
// SIGNUP
.bg-registr-form {
  padding: 35px 0;
  background-color: #171819;
}
.registration-form {
  display: flex;
  align-items: center;
  justify-content: center;
  h3 {
    margin-right: 70px;
    color: var(--secondari-color);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: -1px;
  }
  input {
    padding: 11px 98px 11px 16px;
    color: var(--advanse-color);
    color: rgb(72, 85, 91);
    font-size: 0.9rem;
    font-weight: 400;
  }
  button {
    cursor: pointer;
    padding: 11px 49px;
    color: var(--secondari-color);
    background-color: transparent;
    font-size: 1rem;
    font-weight: 700;
    border: 1px solid var(--advanse-color);

    &:hover {
      color: var(--secondari-color);
      background-color: var(--hover-color);
    }
  }
}
// footer
.bg-footer {
  background-color: #141a20;
}
.footer-nav-grid {
  display: grid;
  grid-template-columns:
    repeat(6, 1fr) minmax(100px, 110px) minmax(100px, 110px)
    minmax(100px, 130px);
  grid-template-rows: repeat(2, 174px);
  div {
    button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      padding: 0;
    }
    a {
      text-decoration: none;
      color: var(--secondari-color);
      font-size: 1rem;
      font-weight: 400;
      line-height: 25px;
      text-align: center;
      display: block;
    }
    p {
      color: var(--secondari-color);

      font-size: 1rem;
      font-weight: 400;
      line-height: 19px;
    }
    h3 {
      color: var(--secondari-color);
      font-size: 1rem;
      font-weight: 400;
      text-align: center;
      margin-bottom: 30px;
    }
    h2 {
      color: var(--secondari-color);
      font-size: 1.7rem;
      font-weight: 700;
      padding-bottom: 57px;
    }
    &:nth-child(1) {
      grid-column: 1/3;
      align-self: end;
      h3 {
        text-align: left;
      }
    }
    &:nth-child(2) {
      grid-column: 3 /3;
      align-self: end;
    }
    &:nth-child(3) {
      grid-column: 6 / 6;
      align-self: end;
    }
    &:nth-child(4) {
      grid-column: 1 / 3;
    }
    &:nth-child(5) {
      grid-column: 3 / 3;
      grid-row: 2 / 2;
      a {
        display: block;
        margin-bottom: 5px;
        text-align: center;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &:nth-child(6) {
      grid-row: 2 / 2;
      grid-column: 4 / 4;
      a {
        margin-bottom: 5px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &:nth-child(7) {
      grid-row: 2 / 2;
      grid-column: 5 / 5;
      a {
        margin-bottom: 5px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  &:nth-child(8) {
    grid-column: 6 / 6;
  }
  &:nth-child(9) {
    grid-column: 9 / 9;
    grid-row: 1 / 1;
    display: flex;
    flex-direction: column-reverse;
  }
}
.social-google-icon {
  position: relative;
  button {
    position: absolute;
    right: 0;
  }
}
.social-twiter-icon {
  position: relative;
  button {
    position: absolute;
    right: 60px;
  }
}
.protection-rights {
  padding: 20px 0;
  background-color: #171819;
  p {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
  }
}
