* {
  box-sizing: border-box;
}
body {
  margin: 46px 0 20px 0;
}
.container {
  width: 97%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
/* header */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  display: flex;
}
button {
  cursor: pointer;
  display: block;
  background-color: transparent;
  border: none;
  color: #000000;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  border-radius: 4px;
  padding: 7px 51px;
}
nav button:hover {
  color: #ffffff;

  background-color: #000000;
}
.search-container {
  display: flex;
  gap: 46px;
  align-items: center;
}
input {
  background-image: url("../img/Search.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 16px;
  border: none;
}
input::placeholder {
  color: #ffffff;
}
/* categori name site */
.logo-section {
  width: 20%;
}
h1 {
  color: #000000;
  font-family: Montserrat;
  font-size: 60px;
  font-weight: 800;
  line-height: 60px;
}
.description-logo-section {
  color: #000000;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}
.button-logo-section {
  color: #000000;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  padding: 11px 47px 11px 31px;
}
.button-logo-section:hover {
  border-radius: 15px;
  background-color: #000000;
  color: #ffffff;
}
.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 105px;
  padding-left: 30px;
}

.sneakers-logo {
  display: flex;
}
/* gender-categories */
.gender-categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 82px;
}

.women-categorie {
  background-image: url("../img/Rectangle\ 9.svg");
  width: 47%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 410px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.men-categorie {
  background-image: url("../img/Rectangle\ 10.svg");
  width: 47%;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 410px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-by-men-categories {
  display: flex;
  justify-content: center;
}
.name-gender {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 800;
  line-height: 40px;
  padding-bottom: 20px;
}
.women-categorie {
  display: flex;
  justify-content: center;
}
.by-button-categries {
  display: flex;
  justify-content: center;
}
.buttom-by-categories {
  color: #000000;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  padding: 0;
}
.buttom-by-categories:hover {
  color: #ffffff;
}
/* New Releases */
.new-releases-container {
  display: flex;
  justify-content: space-between;
  gap: 35px;
  align-items: center;
  overflow-y: auto;
}
.new-releases-container img {
  border-radius: 15px;
}
.title-releases {
  color: #000000;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 800;
  line-height: 40px;
  padding: 62px 0 30px 0;
}
.new-releases-container p {
  color: #000000;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.new-releases-container span {
  font-weight: bold;
}
/* Top Kicks */
.top-kicks-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
  overflow-x: auto;
}
.top-kicks-container img {
  border-radius: 15px;
}
.title-kicks {
  color: #000000;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 800;
  line-height: 40px;
  padding: 30px 0;
}
.top-kicks-container p {
  color: #000000;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.top-kicks-container span {
  font-weight: bold;
}
/* Never miss a drop */
.never-miss-drop-container {
  width: 23%;
  margin: 0 auto;
  text-align: center;
  padding-top: 163px;
}
.never-miss-drop-container p {
  color: #000000;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}
h2 {
  color: #000000;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 800;
  line-height: 40px;
}
.meil-list-never-section {
  padding: 14px 24px;
  color: #ffffff;
  background-color: #000000;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  border: 2px solid #000000;
  border-radius: 4px;
}
.meil-list-never-section:hover {
  background-color: transparent;
  color: #000000;
}
.button-container-never {
  display: flex;
  justify-content: center;
  padding: 22px 0 156px 0;
}
/* Footer */
.footer {
  background-color: #000000;
}

h5 {
  color: #c4c4c4;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
}
li {
  color: #ffffff;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
}
.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 63px;
}
.sss {
  color: gray;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
  padding: 76px 0 20px 0;
}
.facebook {
  display: inline-block;
  padding: 0px;
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  border-radius: 100%;
}
.instagram {
  display: inline-block;
  padding: 0px;
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  border-radius: 100%;
}
.twitter {
  display: inline-block;
  padding: 0px;
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  border-radius: 100%;
}
.in {
  display: inline-block;
  padding: 0px;
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  border-radius: 100%;
}
.social-container {
  margin-right: 116px;
}
/* header-mobail-containe */
.header-mobail-container {
  visibility: hidden;
  width: 88%;
  display: flex;
  align-items: center;
}
.search-mobail-version {
  width: 66px;
}
.bag-mobail-version {
  margin-left: 24px;
  padding: 0;
}

.shoppy-mobail-version:hover {
  background-color: #000000;
  color: #ffffff;
  border-radius: 4px;
}

@media (max-width: 390px) {
  .container {
    width: 88%;
    margin: 0 auto;
  }
  .header-mobail-container {
    visibility: visible;
    width: 88%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-container {
    display: none;
  }
  nav {
    display: none;
  }
  .logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-direction: column-reverse;
  }
  .left-sneakers {
    position: relative;
    width: 40%;
    right: 23px;
  }
  .right-sneakers {
    width: 100%;
    position: relative;
    left: 62px;
  }
  .logo-section {
    width: 100%;
  }
  .gender-categories {
    flex-direction: column;
    gap: 25px;
  }
  .women-categorie {
    width: 100%;

    background-size: cover;
  }
  .men-categorie {
    width: 100%;
    background-size: cover;
  }
  .new-releases-container {
    gap: 0;

    overflow-y: auto;
  }
  .new-releases-container div {
    margin-right: 16px;
  }
  .new-releases-container img {
    width: 231px;
  }
  .top-kicks-container {
    gap: 0;
  }
  .top-kicks-container div {
    margin-right: 16px;
  }
  .top-kicks-container img {
    width: 231px;
  }
  .never-miss-drop-container {
    width: 100%;
  }
  .footer-nav {
    flex-wrap: wrap;
  }
  .footer-nav div {
    width: 48%;
    margin-bottom: 30px;
  }
}
