* {
  box-sizing: border-box;
}
.image-container {
  width: 600px;

  border: 2px solid red;
  border-radius: 50px;

  position: relative;
}
div > img {
  width: 200px;
  height: auto;
  display: inline-block;
  vertical-align: top;
  float: left;
  margin: 30px;
}
span {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
}
.image-container p {
  /* display: inline-block; */
  /* width: 300px; */
}
.text-container {
  width: 200px;
  height: 100px;
  margin: 50px auto;
  border: 2px solid red;
  overflow-y: auto;
  overflow-x: auto;
}
h1::after {
  width: 100px;
  height: 10px;
  content: "";
  background-color: blue;
  display: inline-block;
}
h1::before {
  width: 100px;
  height: 10px;
  content: "";
  background-color: yellow;
  display: inline-block;
}
.float-content {
  border: 2px solid black;
  background-color: green;
  /* overflow: hidden; */
}
.float-item {
  width: 200px;
  height: 200px;
  background-color: red;
  float: left;
  clear: right;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.float-item:nth-child(2) {
  float: right;
}
