@import url(reset.css);
* {
  box-sizing: border-box;
}
body {
  font-family: "Nunito Sans";
  font-size: 16px;
  background-color: #ffff;
  position: relative;
  padding-bottom: 45px;
  font-style: normal;
}
body::after {
  content: "";
  position: absolute;
  display: block;
  width: 118px;
  top: 0;
  bottom: 0;
  left: 13%;
  background-color: #f9f9f9;
  z-index: -1;
}
.container {
  width: 82%;
  margin: 0 auto;
}
/* Header */
header {
  padding: 55px 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo:hover {
  opacity: 0.8;
}
a {
  color: #000;
  font-size: 19px;
  font-weight: 400;
  line-height: 22.8px;
  text-decoration: none;
  display: inline-block;
  margin-right: 35px;
}
a:last-child {
  margin-right: 0;
}
nav a::after {
  content: "";
  display: none;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: #f2994a;
  position: absolute;
  margin: 0 50%;
  bottom: -16px;
}
nav a.active::after,
nav a:hover::after {
  display: block;
}
.search-block input {
  font-size: 19px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 1px;
  color: #000;
  border: none;
  padding: 0 16px;
}
.search-block button {
  background-color: white;
  border: none;
}
/* Content */
