* {
  box-sizing: border-box;
}
body {
  background-color: red;
}
.bg-image {
  width: 500px;
  height: 500px;
  background-image: url("./img/Ellipse\ 2.png");
  background-repeat: no-repeat;
}
.bg-image:hover {
  background-color: yellow;
}
h2::after {
  display: block;
  content: "";
  height: 28px;
  border: 3px;
  color: white;
}
input {
  background-color: black;
  color: white;
  padding: 20px;
  background-image: url("./img/fe_search.svg");
  background-repeat: no-repeat;
  background-size: 27px 27px;
  background-position: center right;
}
